<!-- Aleksandra Kulbaka, GoSafe, 2020-->

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Keep up to date with changing travel regulations and restrictions.Safe travel with Trvl Safe.">
  <meta name="keywords" content="Travel, Legal Travel, Travel Restriction, COVID19">
  <meta name="author" content="Aleksandra Kulbaka">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" href="../static/images/logo.png">
  <title>Go Safe</title>
</head>

<body>
    <header>
      <a href="{{ url_for('index') }}"><img id="logo" src="../static/images/logo.png" alt="Logo of GoSafe"></a>
    </header>
    
    <main>
           <p>
           Check where you can travel during COVID-19 based on the newest government information. 
           </p>

        <form name="countries" method="post" action="/submit">
          <div class="field">
            <p>Where are you travelling from?</p>
            <select id="country_from">
              <option value="uk">UK</option>
            </select>
          </div>

          <div class="field">
            <p>Where are you travelling to?</p>
            <select id="country_to" name='country_to'>
              {% for rule in rules %}
              <option name='country_to' value={{ rule.name }}>{{ rule.country }}</option>         
              {% endfor %}
            </select>				
          </div>

					<br><br>
					<input type= "submit" name= "submit"/>
				</form>
      <br><br>
      <div id="feedback"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdf3QTZqW4b8hQ7JjX-jaHE6RQSrdvifpeu4keXLnngot8zgA/viewform?usp=sf_link" target="_blank" style="color:#e08e00;">
        Please, let us know what you think about the website.
        </a>
      </div>
      <footer>
        <br> <div id='image_licence'>
          Image by <a href="https://pixabay.com/photos/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=841441" target="_blank">Free-Photos</a>
          from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=841441" target="_blank">Pixabay</a>  
        </div>
      </footer>

    </main>

</body>
</html>
